{% extends 'base.html.twig' %}

{% block title %}Edit Association{% endblock %}

{% block body %}
    <br>
    <h1>Edit Association</h1>
<div class="container">
    <div class="row">
        <div class="container-fluid pt-5">
            <div class="row px-xl-8">


    {{ form(form) }}


            </div></div></div></div>
{% endblock %}
