{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
    <section class="volunteer-section " id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="text-white mb-4">Association</h2>

                    <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                        {{ form(form) }}
                    </form>
                </div>


                </div>

            </div>
        </div>
    </section>



{% endblock %}
