<table style="width: 100%;border: 2px solid ;">
    <tr style="border: 2px green;">

        <td style="border: 2px #00eaff solid;">nom</td>
        <td style="border: 2px #00d0ff solid;">prenom</td>
        <td style="border: 2px #00eaff solid;">Email</td>
        <td style="border: 2px #00d0ff solid;">Mot de passe</td>

    </tr>
    {% for v in listCompte %}
        <tr style="border: 2px green;">
            <td style="border: 2px red solid;">{{ v.nom }}</td>
            <td style="border: 2px red solid;">{{ v.prenom }}</td>

            <td style="border: 2px red solid;">{{ v.email }}</td>
            <td style="border: 2px red solid;">{{ v.MotPass }}</td>

        </tr>
    {% endfor %}
</table>