{% extends 'base.html.twig' %}

{% block title %}Edit Volontaire{% endblock %}

{% block body %}
    <br>
<div class="container">
    <div class="row">
        <div class="container-fluid pt-5">
            <div class="row px-xl-8">
    <h1>Edit Volontaire</h1>

    {{ form(form) }}
            </div></div></div></div>
{% endblock %}
